# -------------------------
# Compiled
# -------------------------
*.elc

# -------------------------
# Packaging
# -------------------------
.cask/
.eask/
.eldev/
.keg/

# -------------------------
# Built distribution
# -------------------------
dist/

# -------------------------
# Backup and autosave files
# -------------------------
*~
.#*
.~undo-tree~
.emacs.desktop

# -------------------------
# Emacs temporary files / caches
# -------------------------
elpa/
history/
places/
eln-cache/

# -------------------------
# Other project-specific folders
# -------------------------
ox-ipynb/
.emacs.d/elpa/

